{% extends 'base.html' %}
{% block head %}
    <title> {{room}} Room</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/room.css') }}">
{% endblock head %}
{% block content %}
<a class="leave" href="{{url_for('home_view')}}">Home</a>
<div class="chat-box">
    <h2>Chat Room: {{room}}</h2>
    <div class="messages" id="messages"></div>
    <form class="inputs" id="msg-form">
        <input type="text" name="message" id="msg-input" placeholder="message" rows="3">
        <button type="submit" name="send" id="send-btn">
            send
        </button>
    </form>
</div>

<script type="text/javascript" src="{{ url_for('static',filename='js/app.js') }}"></script>
{% for msg in messages %}
 <script type="text/javascript">
    createMessage("{{msg.name}}","{{msg.message}}");
 </script>
{% endfor %}

{% endblock content %}
